# Credit Risk Evaluator

In [1]:
import numpy as np
import pandas as pd
from pathlib import Path
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import StandardScaler

## Retrieve the Data

The data is located in the Challenge Files Folder:

* `lending_data.csv`

Import the data using Pandas. Display the resulting dataframe to confirm the import was successful.

In [2]:
# Import the data

# Create a reference the CSV file desired
csv_path = "Resources/lending_data.csv"

# Read the CSV into a Pandas DataFrame
lending_df = pd.read_csv(csv_path)

# Print the first five rows of data to the screen
lending_df.head()

,loan_size,interest_rate,borrower_income,debt_to_income,num_of_accounts,derogatory_marks,total_debt,loan_status
0,10700.0,7.672,52800,0.431818,5,1,22800,0
1,8400.0,6.692,43600,0.311927,3,0,13600,0
2,9000.0,6.963,46100,0.349241,3,0,16100,0
3,10700.0,7.664,52700,0.430740,5,1,22700,0
4,10800.0,7.698,53000,0.433962,5,1,23000,0

In [3]:
#check for nulls
lending_df.isnull().sum()

loan_size           0
interest_rate       0
borrower_income     0
debt_to_income      0
num_of_accounts     0
derogatory_marks    0
total_debt          0
loan_status         0
dtype: int64

In [4]:
#check for duplicates
lending_df[lending_df.duplicated()]

,loan_size,interest_rate,borrower_income,debt_to_income,num_of_accounts,derogatory_marks,total_debt,loan_status
64,8500.0,6.728,43900,0.316629,3,0,13900,0
72,8600.0,6.773,44300,0.322799,3,0,14300,0
87,8400.0,6.700,43600,0.311927,3,0,13600,0
88,10800.0,7.698,53000,0.433962,5,1,23000,0
113,8600.0,6.778,44400,0.324324,3,0,14400,0
...,...,...,...,...,...,...,...,...
77529,19300.0,11.347,87400,0.656751,12,2,57400,1
77530,19700.0,11.508,88900,0.662542,13,2,58900,1
77532,17700.0,10.662,80900,0.629172,11,2,50900,1
77533,17600.0,10.595,80300,0.626401,11,2,50300,1
77535,15600.0,9.742,72300,0.585062,9,2,42300,1

In [5]:
#drop duplicates
lending_df=lending_df.drop_duplicates()
lending_df.shape

(5229, 8)

## Predict Model Performance

You will be creating and comparing two models on this data: a Logistic Regression, and a Random Forests Classifier. Before you create, fit, and score the models, make a prediction as to which model you think will perform better. You do not need to be correct! 

Write down your prediction in the designated cells in your Jupyter Notebook, and provide justification for your educated guess.

I predict that the Random Forests Classifier model will perform better than the Logistic Regression model for this Credit Risk Evaluator because of the large number of variable under consideration.

## Split the Data into Training and Testing Sets

In [6]:
# Assign the data to X and y
# X = lending_df.drop(columns=["loan_status"])

X = lending_df[['loan_size','interest_rate','borrower_income', 'debt_to_income','num_of_accounts','derogatory_marks','total_debt']]
y = lending_df['loan_status']

print("Shape: ", X.shape, y.shape)

Shape:  (5229, 7) (5229,)

In [10]:
# Split the data into X_train, X_test, y_train, y_test
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

s =StandardScaler()
X_train_scaled = s.fit_transform(X_train)
X_test_scaled = s.fit_transform(X_test)

## Create, Fit and Compare Models

Create a Logistic Regression model, fit it to the data, and print the model's score. Do the same for a Random Forest Classifier. You may choose any starting hyperparameters you like. 

Which model performed better? How does that compare to your prediction? Write down your results and thoughts in the designated markdown cell.

In [11]:
# Train a Logistic Regression model and print the model score
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression()
classifier


classifier.fit(X_train_scaled, y_train)

print(f"Training Data Score: {classifier.score(X_train_scaled, y_train)}")
print(f"Testing Data Score: {classifier.score(X_test_scaled, y_test)}")

Training Data Score: 0.9153277225197654
Testing Data Score: 0.9311926605504587

In [12]:
# Train a Random Forest Classifier model and print the model score

# Saving this code for later
# X, y = make_classification(random_state=1, n_features=50, n_informative=5, n_redundant=0)
# X = pd.DataFrame(X)
# df = pd.read_csv('Resources/lending_data.csv')
# for col in df.columns:
#     if df[col].dtype == 'object':
#         df[col] = pd.to_numeric(df[col], errors='coerce')

        

# classifier.fit(X_train, y_train)


clf = RandomForestClassifier(random_state=1, n_estimators=500).fit(X_train_scaled, y_train)
print(f'Training Score: {clf.score(X_train_scaled, y_train)}')
print(f'Testing Score: {clf.score(X_test_scaled, y_test)}')

Training Score: 0.9676103034940067
Testing Score: 0.9159021406727829

In this situation, the Logistic Regression model performed better because it had a higher testing score and a smaller spread between the training and testing scores.  The Random Forest Classifier, while not far behind in performance to the Logistic Regression, has the potential to perform better in additional model tests and perhaps had a lower testing score due to slight overfitting of training data.